<div id="table_bounds" style="margin-left:10px; margin-right:10px; margin-bottom:40px">
  <div class="well" style="text-align:center; max-width:600px; margin-left:auto; margin-right:auto; margin-top:30px">
    <h2 style="margin-top:10px; margin-bottom:20px">Shopify Dashboard Plus</h2>
    <% if $flash %><p class="flash"><%= $flash %></p><% end %>
    <div style="margin-bottom:20px;">
      Retrieve metrics over the following period <% if shop_name %>for: <br/><i><b><%= shop_name %>.myshopify.com/admin</b></i><% end %>
    </div>
    <form class="form-inline" id="set-date" method="get" action="/">
      <h4 style="margin-bottom:10px">
        <input id="from" name="from" class="form-control form-field-small date-input" value="<%= h(params[:from]) %>" pattern="^[1-2][0-9]{3}-[0-3][0-9]-[0-3][0-9]$" placeholder="<%= @today %>">
        to
        <input id="to" name="to" class="form-control form-field-small date-input" value="<%= h(params[:to]) %>" pattern="^[1-2][0-9]{3}-[0-3][0-9]-[0-3][0-9]$"% placeholder="<%= @today %>">
      </h4>
        <input type="submit" class="btn btn-primary" value="Get Data" style="width:200px">
    <form>
    <div style="margin-top:10px">
      <a href="/connect">Application Configuration</a>
    </div>
  </div>

  <% if @metrics %>
  <h3 class="section-divider">Sales</h3>
  <div class="graph-container">
    <div class="graph-border">
      <h4 class="graph-heading">
        Daily Sales
      </h4>
      <hr class="graph-seperator">
      <%= column_chart @metrics[:daily_revenue], library: {hAxis: {direction: -1}} %>
      <hr class="graph-seperator">
      <div class="graph-metrics">
        <div class="graph-metric">
          <h5 class="grey">Duration</h5>
          <h3 class="money"><%= pluralize @metrics[:duration], "day", "days" %></h3>
        </div>
        <div class="graph-metric">
          <h5 class="grey">Number of Sales</h5>
          <h3 class="money"><%= @metrics[:number_of_sales] %></h3>
        </div>
        <div class="graph-metric">
          <h5 class="grey">Total Revenue</h5> 
          <h3 class="money"><%= display_as_currency @metrics[:total_revenue] %></h3>
        </div>
        <div class="graph-metric">
          <h5 class="grey">Average Daily Revenue</h5>
          <h3 class="money"><%= display_as_currency @metrics[:average_revenue] %></h3>
        </div>
          <div class="graph-metric">
          <h5 class="grey">Max Daily Revenue</h5>
          <h3 class="money"><%= display_as_currency @metrics[:max_daily_revenue] %></h3>
        </div>
      </div>
    </div>

    <div class="graph-border">
      <h4 class="graph-heading">
        Proportion of Sales per Product
      </h4>
      <hr class="graph-seperator">
      <%= pie_chart @metrics[:sales_per_product] %>
    </div>

    <div class="graph-border">
      <h4 class="graph-heading">
        Number of Sales per Product
      </h4>
      <hr class="graph-seperator">
      <%= column_chart @metrics[:sales_per_product] %>
      <% if @metrics[:top_selling_product] %>
      <hr class="graph-seperator">
      <div class="graph-metrics">
        <div class="graph-metric">
          <h5 class="grey">Best Selling Product</h5>
          <h4 class="stats"><%= @metrics[:top_selling_product][0] %> : <b><%= pluralize @metrics[:top_selling_product][1], "Sale", "Sales" %></b></h4>
        </div>
      </div>
      <% end %>
    </div>

    <div class="graph-border">
      <h4 class="graph-heading">
        Revenue per Product
      </h4>
      <hr class="graph-seperator">
      <%= column_chart @metrics[:revenue_per_product] %>
      <% if @metrics[:top_grossing_product] %>
      <hr class="graph-seperator">
      <div class="graph-metrics">
        <div class="graph-metric">
          <h5 class="grey">Most Profitable Product</h5>
          <h4 class="stats"><%= @metrics[:top_grossing_product][0] %> : <b><%= display_as_currency @metrics[:top_grossing_product][1] %></b></h4>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  
  <h3 class="section-divider">Prices &amp; Discounts</h3>
  <div class="graph-container">
    <div class="graph-border">
      <h4 class="graph-heading">
        Proportion of Items Sold Per Price Point
      </h4>
      <hr class="graph-seperator">
      <%= pie_chart @metrics[:sales_per_price] %>
    </div>

    <div class="graph-border">
      <h4 class="graph-heading">
        Number of Items Sold Per Price Point
      </h4>
      <hr class="graph-seperator">
      <%= column_chart @metrics[:sales_per_price] %>
      <% if @metrics[:top_selling_price_point] %>
      <hr class="graph-seperator">
      <div class="graph-metrics">
        <div class="graph-metric">
          <h5 class="grey">Top Selling Price Point</h5>
          <h4 class="stats"><b><%= @metrics[:top_selling_price_point][0] %></b> : <%= pluralize @metrics[:top_selling_price_point][1], "Sale", "Sales" %></h4>
        </div>
      </div>
      <% end %>
    </div>

    <div class="graph-border">
      <h4 class="graph-heading">
        Revenue per Price Point
      </h4>
      <hr class="graph-seperator">
      <%= column_chart @metrics[:revenue_per_price_point] %>
      <% if @metrics[:top_grossing_price_point] %>
      <hr class="graph-seperator">
      <div class="graph-metrics">
        <div class="graph-metric">
          <h5 class="grey">Top Grossing Price Point</h5>
          <h4 class="stats"><b><%= @metrics[:top_grossing_price_point][0] %></b> : <%= display_as_currency @metrics[:top_grossing_price_point][1] %></h4>
        </div>
      </div>
      <% end %>
    </div>

    <div class="graph-border">
      <h4 class="graph-heading">
        Total Savings per Discount Code
      </h4>
      <hr class="graph-seperator">
      <%= column_chart @metrics[:discount_savings] %>
      <% if @metrics[:top_discount_savings] %>
      <hr class="graph-seperator">
      <div class="graph-metrics">
        <div class="graph-metric">
          <h5 class="grey">Greatest Value Redeemed per Discount Code</h5>
          <h4 class="stats"><%= @metrics[:top_discount_savings][0] %> : <b><%= display_as_currency @metrics[:top_discount_savings][1] %></b></h4>
        </div>
      </div>
      <% end %>
    </div>

    <div class="graph-border">
      <h4 class="graph-heading">
        Number of Uses per Discount Code
      </h4>
      <hr class="graph-seperator">
      <%= column_chart @metrics[:discount_quantity] %>
      <% if @metrics[:most_used_discount_code] %>
      <hr class="graph-seperator">
      <div class="graph-metrics">
        <div class="graph-metric">
          <h5 class="grey">Most Used Discount Code</h5>
          <h4 class="stats"><%= @metrics[:most_used_discount_code][0] %> : <b><%= pluralize @metrics[:most_used_discount_code][1], "Time", "Times" %></b></h4>
        </div>
      </div>
      <% end %>
    </div>
  </div>


  <h3 class="section-divider">Countries</h3>
  <div class="graph-container">
    <div class="graph-border">
      <h4 class="graph-heading">
        Proportion of Sales per Country
      </h4>
      <hr class="graph-seperator">
      <%= pie_chart @metrics[:sales_per_country] %>
      <% if @metrics[:most_sales_per_country] %>
      <hr class="graph-seperator">
      <div class="graph-metrics">
        <div class="graph-metric">
          <h5 class="grey">Most Sales Per Country</h5>
          <h4 class="stats"><%= @metrics[:most_sales_per_country][0] %> : <b><%= pluralize @metrics[:most_sales_per_country][1], "Time", "Times"%></b></h4>
        </div>
      </div>
      <% end %>
    </div>

    <div class="graph-border">
      <h4 class="graph-heading">
        Revenue per Country
      </h4>
      <hr class="graph-seperator">
      <%= column_chart @metrics[:revenue_per_country], stacked: true %>
    </div>
  </div>


  <h3 class="section-divider">Currencies</h3>
  <div class="graph-container">
    <div class="graph-border">
      <h4 class="graph-heading">
        Currencies Used per Purchase
      </h4>
      <hr class="graph-seperator">
      <%= pie_chart @metrics[:currencies_per_sale] %>
      <% if @metrics[:most_used_currency] %>
      <hr class="graph-seperator">
      <div class="graph-metrics">
        <div class="graph-metric">
          <h5 class="grey">Most Used Currency</h5>
          <h4 class="stats"><%= @metrics[:most_used_currency][0] %> : <b><%= pluralize @metrics[:most_used_currency][1], "Time", "Times" %></b></h4>
        </div>
      </div>
      <% end %>
    </div>
  </div>


  <h3 class="section-divider">Customers</h3>
  <div class="graph-container">
    <div class="graph-border">
      <h4 class="graph-heading">
        Purchases per Customer
      </h4>
      <hr class="graph-seperator">
      <%= column_chart @metrics[:sales_per_customer], stacked: true %>
    </div>
  </div>


  <h3 class="section-divider">Traffic Metrics</h3>
  <div class="graph-container">
    <div class="graph-border">
      <h4 class="graph-heading">
        Referrals per Site
      </h4>
      <hr class="graph-seperator">
      <%= column_chart @metrics[:referral_sites] %>
      <% if @metrics[:top_referral_site] %>
      <hr class="graph-seperator">
      <div class="graph-metrics">
        <div class="graph-metric">
          <h5 class="grey">Top Referral Site</h5>
          <h4 class="stats"><b><%= @metrics[:top_referral_site][0] %></b> : <%= pluralize @metrics[:top_referral_site][1], "Referral", "Referrals" %></h4>
        </div>
      </div>
      <% end %>
    </div>

    <div class="graph-border">
      <h4 class="graph-heading">
        Referrals per Site Pages
      </h4>
      <hr class="graph-seperator">
      <%= column_chart @metrics[:referral_pages] %>
      <% if @metrics[:top_referral_page] %>
      <hr class="graph-seperator">
      <div class="graph-metrics">
        <div class="graph-metric">
          <h5 class="grey">Top Referral Page</h5>
          <h4 class="stats"><b><%= @metrics[:top_referral_page][0] %></b> : <%= pluralize @metrics[:top_referral_page][1], "Referral", "Referrals" %></h4>
        </div>
      </div>
      <% end %>
    </div>

    <div class="graph-border">
      <h4 class="graph-heading">
        Revenue Per Referral Site
      </h4>
      <hr class="graph-seperator">
      <%= column_chart @metrics[:revenue_per_referral_site] %>
      <% if @metrics[:top_referral_site_revenue] %>
      <hr class="graph-seperator">
      <div class="graph-metrics">
        <div class="graph-metric">
          <h5 class="grey">Highest Revenue per Referral Site</h5>
          <h4 class="stats"><b><%= @metrics[:top_referral_site_revenue][0] %></b> : <%= display_as_currency @metrics[:top_referral_site_revenue][1] %></h4>
        </div>
      </div>
      <% end %>
    </div>

    <div class="graph-border">
      <h4 class="graph-heading">
        Revenue Per Referral Site Page
      </h4>
      <hr class="graph-seperator">
      <%= column_chart @metrics[:revenue_per_referral_page] %>
      <% if @metrics[:top_referral_page_revenue] %>
      <hr class="graph-seperator">
      <div class="graph-metrics">
        <div class="graph-metric">
          <h5 class="grey">Highest Revenue per Referral Page</h5>
          <h4 class="stats"><b><%= @metrics[:top_referral_page_revenue][0] %></b> : <%= display_as_currency @metrics[:top_referral_page_revenue][1] %></h4>
        </div>
      </div>
      <% end %>
    </div>
  </div>


  <div style="margin-top:30px; margin-left:auto; margin-right:auto; text-align:center; color:#999">
    Generated <%= Time.now %>
  </div>

  <script type="text/javascript">
    window.onload = function(){ 
      //document.getElementById("loading").style.display = "none" 
    }
  </script>
  <!--
  <div id="fullscreen-graph" style="z-index:10; margin-left:auto; margin-right:auto;"></div>

  <script type="text/javascript">
    function fullscreen_graph(heading) {
      new_div = document.getElementById('fullscreen-graph');
      chart_data = heading.parentNode.cloneNode(true)

      new_div.appendChild(chart_data);
    }

    function close_fullscreen_graph(){

    }
  </script>
  -->
  <% end %>
</div>

