<div id="table_bounds" style="margin-left:10px; margin-right:10px; margin-bottom:40px">
  <div class="well" style="text-align:center; max-width:600px; margin-left:auto; margin-right:auto; margin-top:30px">
    <h2 style="margin-top:10px; margin-bottom:20px">Shopify Dashboard Plus</h2>
    <hr>
    <div style="margin-bottom:10px;">
      Retrieve metrics over the following period <% if SHOP_NAME %>for: <br/><i><%= SHOP_NAME %>.myshopify.com/admin</i><% end %>
    </div>
    <form class="form-inline" id="set-date" method="get" action="/">
      <h4>
        <input id="from" name="from" class="form-control form-field-small" value="<%= h(params[:from]) %>" pattern="^[1-2][0-9]{3}-[0-3][0-9]-[0-3][0-9]$" placeholder="<%= @today %>">
        to
        <input id="to" name="to" class="form-control form-field-small" value="<%= h(params[:to]) %>" pattern="^[1-2][0-9]{3}-[0-3][0-9]-[0-3][0-9]$"% placeholder="<%= @today %>">
        <input type="submit" class="btn btn-primary" value="Get Data">
      </h4>
    <form>
    <hr>
  </div>


  <hr>
  <h3 class="section-divider">Sales</h3>
  <div class="graph-container">
    <div class="graph-border">
      <div id="daily_revenue" onclick="fullscreen_graph(this)" style="text-align:center"><h4>Daily Sales</h4></div>
      <%= column_chart @metrics[:daily_revenue], library: {hAxis: {direction: -1}} %>
      <div style="text-align:center"><h5>Total Sales: <%= @metrics[:total_revenue] %></h5></div>
      <div style="text-align:center"><h5>Average Per Day: <%= @metrics[:average_revenue] %></h5></div>
    </div>
    <div class="graph-border">
      <div style="text-align:center"><h4>Proportion of Sales per Product</h4></div>
      <%= pie_chart @metrics[:products] %>
    </div>

    <div class="graph-border">
      <div style="text-align:center"><h4>Number of Sales per Product</h4></div>
      <%= column_chart @metrics[:products] %>
    </div>
    <div class="graph-border">
      <div style="text-align:center"><h4>Revenue per Product</h4></div>
      <%= column_chart @metrics[:revenue_per_product] %>
    </div>
  </div>


  <hr>
  <h3 class="section-divider">Prices</h3>
  <div class="graph-container">
    <div class="graph-border">
      <div style="text-align:center"><h4>Proportion of Items Sold Per Price Point</h4></div>
      <%= pie_chart @metrics[:prices] %>
    </div>
    <div class="graph-border">
      <div style="text-align:center"><h4>Number of Items Sold Per Price Point</h4></div>
      <%= column_chart @metrics[:prices] %>
    </div>
    <div class="graph-border">
      <div style="text-align:center"><h4>Revenue per Price Point</h4></div>
      <%= column_chart @metrics[:revenue_per_price_point] %>
    </div>
  </div>


  <hr>
  <h3 class="section-divider">Countries</h3>
  <div class="graph-container">
    <div class="graph-border">
      <div style="text-align:center"><h4>Proportion of Sales per Country</h4></div>
      <%= pie_chart @metrics[:sales_per_country] %>
    </div>
    <div class="graph-border">
      <div style="text-align:center"><h4>Revenue per Country</h4></div>
      <%= column_chart @metrics[:revenue_per_country], stacked: true %>
    </div>
  </div>


  <hr>
  <h3 class="section-divider">Currencies</h3>
  <div class="graph-container">
    <div class="graph-border">
      <div style="text-align:center"><h4>Currencies Used per Purchase</h4></div>
      <%= pie_chart @metrics[:currencies] %>
    </div>
  </div>


  <hr>
  <h3 class="section-divider">Customers</h3>
  <div class="graph-container">
    <div class="graph-border">
      <div style="text-align:center"><h4>Purchases per Customer</h4></div>
      <%= column_chart @metrics[:customer_sales], stacked: true %>
    </div>
  </div>


  <hr>
  <h3 class="section-divider">Traffic Metrics</h3>
  <div class="graph-container">
    <div class="graph-border">
      <div style="text-align:center"><h4>Referrals per Site</h4></div>
      <%= column_chart @metrics[:referring_sites] %>
    </div>
    <div class="graph-border">
      <div style="text-align:center"><h4>Referrals per Site Pages</h4></div>
      <%= column_chart @metrics[:referring_pages] %>
    </div>
    <div class="graph-border">
      <div style="text-align:center"><h4>Revenue Per Referral Site</h4></div>
      <%= column_chart @metrics[:revenue_per_referral_site] %>
    </div>
    <div class="graph-border">
      <div style="text-align:center"><h4>Revenue Per Referral Site Page</h4></div>
      <%= column_chart @metrics[:revenue_per_referral_page] %>
    </div>
  </div>

  <!--
  <div id="fullscreen-graph" style="z-index:10; margin-left:auto; margin-right:auto;"></div>

  <script type="text/javascript">
    function fullscreen_graph(heading) {
      new_div = document.getElementById('fullscreen-graph');
      chart_data = heading.parentNode.cloneNode(true)

      new_div.appendChild(chart_data);
    }

    function close_fullscreen_graph(){

    }
  </script>
  -->

</div>

